<!DOCTYPE html>
<html>
<head>
  <title>JppCustomercodeTransfer</title>
  <%= stylesheet_link_tag    "jpp_customercode_transfer/application", :media => "all" %>
  <%= javascript_include_tag "jpp_customercode_transfer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
